.card {
  border: 0;
  border-top: 1px solid #E8EAED;
  box-shadow: none;

  &:last-child {
    border-bottom: 1px solid #E8EAED;
  }

  @media (#{$max_phones--big}) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card-header {
  font-weight: 600;
  font-size: rem(21px);
  line-height: rem(32px);
  color: $gray-dark;
  letter-spacing: -0.25px;
  font-family: $font-family-base;
  padding: 0;

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: rem(27px) rem(27px) rem(27px) 0;
  }

  @media (#{$max_phones--big}) {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;

    a {
      padding: 16px 40px;
    }
  }
}

.card-body {
  padding: 0 0 rem(30px);

  a {
    color: $primary;
  }

  p, ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (#{$max_phones--big}) {
    padding:  0 40px 20px;
  }
}

.accordion {
  border: 0;
  box-shadow: none;
  margin-bottom: rem(90px);


  .card-header {
    a {
      position: relative;
      padding-left: rem(50px);
      margin-left: rem(-50px);

      span {
        font-size: 1.188rem;
        font-weight: normal;
        color: #96999e;
      };

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        width: rem(20px);
        height: rem(2px);
        left: rem(0px);
        margin-top: rem(-1px);
        background-color: $primary;
        transform: rotate(0deg);
        transition: transform 500ms ease;
      }

      &:after {
        transform-origin: center;
      }

      &:hover {
        &:after,
        &:before {
          opacity: .8;
        }
      }

      &[aria-expanded=false] {
        &:after {
          transform: rotate(90deg);
        }
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 40px;

    .card-header {
      a {
        &:after,
        &:before {
          left: 0;
        }
      }
    }
  }
}