.sticky_nav {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;

  &__inner {
    border-bottom: 1px solid $border-color;
  }

  &__logo {
    opacity: 1;
    visibility: hidden;
  }

  @media (#{$max_phones--big}) {
    &__inner {
      border-bottom: 0;
    }
  }

  @media (#{$min_phones--big}) {
    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      bottom: auto;
      background-color: $white;

      .sticky_nav__logo {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.mobile_only {
  display: none;
  @media (#{$max_phones--big}) {
    display: block;
  }
}

.highlighted {
  background-color: #578fff;
  border-radius: 20px;
  margin-right: 8px;
  margin-left: 8px;
  .nav-link {
    color: white;
  }
  @media (#{$max_phones--big}) {
    background-color: inherit;
    border-radius: inherit;
    .nav-link {
      color: inherit;
    }
  }
}

.sidebar {
  .nav-link {
    font-size: rem(18px);
    color: $gray-light;
    letter-spacing: 0;
    cursor: pointer;

    &:hover {
      color: $dark;
    }
  }

  @media (#{$max_phones--big}) {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $light;
    overflow: auto;
    height: 100%;

    .nav-item {
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
      transform: translate3d(0, 10px, 0);
    }

    .nav {
      padding: 100px 0;
      border-bottom: 0;
    }

    &--show {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);

      .nav-item {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);

        &:nth-child(1) {
          transition-delay: 0.2s;
        }
        &:nth-child(2) {
          transition-delay: 0.25s;
        }
        &:nth-child(3) {
          transition-delay: 0.3s;
        }
        &:nth-child(4) {
          transition-delay: 0.35s;
        }
        &:nth-child(5) {
          transition-delay: 0.4s;
        }
        &:nth-child(6) {
          transition-delay: 0.45s;
        }
        &:nth-child(7) {
          transition-delay: 0.5s;
        }
      }
    }
  }

  @media (#{$max_phones--big}) {
    .nav-item {
      display: block;
      width: 100%;
    }
  }
}
