.container {
  @media (#{$min_phones--big}) {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  @media (#{$min_phones--big}) {
    margin-left: -20px;
    margin-right: -20px;

    > [class^='col'],
    > [class*=' col'] {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.table {
  font-feature-settings: 'tnum';
}

.tab-content {
  &.block {
    border-radius: 12px;
    padding-top: rem(30px);
    //margin-bottom: rem(95px);
  }

  .btn.btn-link {
    padding: rem(20px);
    margin-bottom: rem(-45px);
    font-size: rem(14px);
    line-height: rem(18px);
    color: $gray !important;
  }

  @media (#{$max_phones--big}) {
    &.block {
      margin-bottom: 60px;
    }

    .btn.btn-link {
      margin-bottom: rem(-25px);
      font-size: rem(18px);
      padding: 16px 20px 18px;
    }
  }
}

.nav-tabs {
  border: 0;
  font-feature-settings: 'tnum';
  margin-left: rem(-16px);
  padding: rem(7px);

  .nav-link {
    background-color: transparent !important;
    border: 0;
    font-weight: normal;
    font-size: rem(21px);
    line-height: rem(32px);
    color: $gray;

    &.active {
      font-weight: 600;
      color: #53565c !important;
    }
  }

  @media (#{$max_phones--big}) {
    padding-top: 0;
    margin-left: -22px;

    .nav-link {
      font-size: 17px;
      line-height: 32px;
    }
  }

  @media (#{$min_phones--big}) {
  }
}

.form-control {
  height: rem(64px);
  padding: rem(20px 0);
  color: $dark;
  border: 0;
  border-bottom: 1px solid $dark;
  border-radius: 0;
  box-shadow: none;
  font-size: rem(20px);
  letter-spacing: -0.28px;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border-bottom-color: $dark;
  }

  @include placeholder {
    color: $gray;
  }

  @media (#{$max_phones--big}) {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.25px;
  }
}

.form-group {
  margin-bottom: rem(20px);
}

.btn {
  padding: rem(17px 28px 19px);
  color: $white;
  background-color: $dark;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: rem(18px);
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    background-color: $gray;
    box-shadow: none;
    outline: none;
  }

  &:disabled,
  &.disabled {
    color: $gray !important;
    cursor: pointer !important;
    pointer-events: none !important;
  }

  @media (#{$max_phones--big}) {
    font-size: 18px;
    letter-spacing: -0.25px;
    padding: 16px 20px 18px;
  }
}

.btn.btn-link {
  padding: rem(4px 6px);
  background-color: transparent !important;
  text-decoration: none !important;
  color: #578fff !important;
  font-size: rem(16px);
  line-height: rem(18px);
  font-weight: 500;

  &:hover {
    background-color: transparent !important;
    color: darken(#578fff, 3%) !important;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    font-size: rem(24px);
    display: inline-block;
    vertical-align: middle;

    + span {
      margin-left: rem(5px);
    }
  }

  &:disabled,
  &.disabled {
    color: $gray !important;
    cursor: pointer !important;
    pointer-events: none !important;
  }

  @media (#{$max_phones--big}) {
    margin-bottom: rem(-25px);
    font-size: rem(18px);
    padding: 16px 20px 18px;
  }
}

.btn.btn-secondary {
  background-color: #578fff;
  border-radius: 6px;
  color: $white;

  &:hover {
    background-color: darken(#578fff, 3%) !important;
  }

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn.btn-light {
  background-color: #e8eaed;
  border-radius: 6px;
  color: #96999e;
  font-weight: 500;

  &:hover {
    color: #578fff;
  }
}

.btn.btn-cta {
  background-color: #ffffff;
  border-radius: 6px;
  color: rgb(83, 86, 92);
  font-size: rem(18px);
  font-weight: 500;

  img {
    color: rgb(83, 86, 92);
    margin: -0.7rem 1rem -0.7rem -0.1rem;
    opacity: 0.8;
  }

  &:hover {
    color: rgba(83, 86, 92, 0.9) !important;
    opacity: 0.8;
  }

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn.btn-light {
  background-color: #e8eaed;
  border-radius: 6px;
  color: #96999e;
  font-weight: 500;

  &:hover {
    color: #578fff;
  }
}

.btn-sm {
  padding: rem(11px 16px);
  font-size: rem(14px);
  line-height: rem(18px);
}

.iframevideo {
  width: 100%;
  display: inline-block;
  position: relative;
  .dummy {
    margin-top: 56%;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.fade {
  transition: opacity 0.15s linear;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.carousel-item {
  .subtitle {
    opacity: 0;
    transition: 0.4s ease 0.1s;
  }

  &.active {
    .subtitle {
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;
}

.margin-l-s {
  margin-left: 0.5rem;
}

.margin-t-m {
  margin-top: 1rem !important;
}

.margin-t-l {
  margin-top: 2rem !important;
}
