.hidden {
  display: none !important;
}

.shrinked {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.section {
  padding: rem(38px) 0;
  position: relative;

  @media (#{$max_phones--big}) {
    padding: 15px 0;
    text-align: center;
  }
}

.section_lead {
  padding: rem(0 0 158px);

  .nav {
    margin-left: rem(-15px);
    padding: rem(20px) 0;
  }

  .carousel-item {
    background-color: #f5f6f7;
  }

  &__header {
    height: 474px;
    margin-bottom: 4rem;

    .subtitle {
      font-size: rem(24px);
      line-height: normal;
      font-weight: 500;
      margin-top: 0;
      display: inline-block;
      text-align: left;
    }

    .index-video {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      z-index: 1;

      @media (#{$max_tablets}) {
        display: none;
      }

      div {
        height: 474px;
        width: 840px;
        border-radius: 12px;
        overflow: hidden;
        z-index: 1;
      }
    }

    .index-video:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin: -2px 0 0 -422px;
      width: 844px;
      height: 478px;
      z-index: 99;
      box-shadow: inset 0px 0px 0px 4px #f5f6f7;
      pointer-events: none;
      border-radius: 16px;
    }

    .play-button-container {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: -104px;

      @media (#{$max_tablets}) {
        display: none;
      }

      .play-button {
        height: 64px;
        width: 64px;
        padding-left: 18px;
        background-color: white;
        box-shadow: 0 1px 8px 0 rgba(83, 86, 92, 0.08);
        border-radius: 50%;
      }
    }

    @media (#{$max_tablets}) {
      height: auto;
      margin-inline: 1rem;
      margin-bottom: 0;
    }
  }

  .video-mobile-placeholder {
    background-color: #111111;
    position: relative;
    width: 100%;
    padding-top: 0;
    border-radius: 9px;

    &.play {
      transition: all 300ms ease;
      padding-top: 56.25%;
    }
  }

  .video-mobile-placement {
    position: absolute;
    z-index: 2;
  }

  .index-video-mobile  {
    margin-top: -56.25%;
    position: relative;
    display: block;
    width: 100%;

    div {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      border-radius: 9px;
      overflow: hidden;
      z-index: 1;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .mobile-video {
    display: none;

    @media (#{$max_tablets}) {
      display: block;
    }
  }

  &__body {
    padding-top: rem(65px);
  }

  &__info {
    color: #8c8c8c;
    font-size: rem(18px);

    @media (#{$max_tablets}) {
      font-size: rem(14px);
    }
  }

  @media (#{$max_tablets}) {
    padding: 40px 0;
    margin-bottom: 0;

    .logo {
      margin-bottom: 30px;
    }

    &__header {
      padding: 0;

      .subtitle {
        font-size: 20px;
        line-height: normal;
        min-height: 80px;
        text-align: center;
      }
    }

    &__body {
      padding-top: 0;
    }

    &__info {
      font-size: 14px;
      line-height: 16px;

      span {
        margin-bottom: 8px;
      }
    }
  }
}





.section_blue_red{
  background: 
    radial-gradient(80% 80% at 120% 120%, #E9B7DB 0%, rgba(233, 183, 219, 0.40696) 49.48%, rgba(233, 183, 219, 0.130208) 80.21%, rgba(233, 183, 219, 0) 100%), 
    radial-gradient(80% 80% at -20% -20%, #A9BCEA 0%, rgba(169, 188, 234, 0.317434) 51.04%, rgba(169, 188, 234, 0.135417) 79.17%, rgba(169, 188, 234, 0) 100%),
    #F5F7F8;
}


.section_black{
  background-color: #0F172A;
  color: white;  
}

.section_gray{
  background-color: #F5F7F8 !important;
}

.section_dark{
  background-color: #1E2E45;
  color: white;  
}

.section_panel{
  border-radius: rem(20px);  
  padding-top: rem(150px);
  padding-bottom: rem(150px);  
  overflow: hidden;
  background-clip: padding-box;

  &__cell{
    .cell_content{
      padding: 0 rem(40px);
    }
  

    border-radius: rem(20px);  
    padding-top: rem(50px);
    padding-bottom: rem(50px);      
    border-color: transparent;
    background-clip: padding-box;
    border-width: 8px;
    border-style: solid;

      &._node{
        padding-top: rem(100px);
        padding-bottom: rem(100px);   
        
        background-image: url(/static/images/run-node.png);
        background-repeat: no-repeat ;
        background-position-y: 36%;
        background-size: 80%;
        &._left{  
          background-position-x: 308%;
          @media (#{$max_phones--big}) {
            background-position: 50% -22%;
            background-origin: content-box;
            background-size: 350px;
          }
      
        }
        &._right{  
          background-position-x: -208%;  
          @media (#{$max_phones--big}) {
            background-position: 50% 111%;
            background-origin: content-box;
            background-size: 350px;
          }
        }
      }
    }

    @media (#{$max_phones--big}) {
      border-radius: 0;  
    }
  
}


.orange-value{
  color: #FE7D19;
  font-weight: 500;
}

.blue-value{
  color: #614DED;
  font-weight: 500;
}


.quote{
  display: none;
}

.section_header {
  margin-bottom: rem(50px);

  @media (#{$max_tablets}) {
    margin-bottom: 25px;
  }

  @media (#{$max_phones--big}) {
    margin-top: rem(50px);
  }

}

.section_content {
  .hint {
    color: $gray;
    margin-bottom: rem(50px);
  }

  @media (#{$max_phones--big}) {
    .hint {
      margin-bottom: 60px;
    }
  }

  @media (#{$min_phones--big}) {
    .row + .row {
      margin-top: rem(65px);
    }
  }
}

.form_register {
  .row {
    margin: 0;

    > div {
      margin: 0;
      padding: 0;
    }
  }

  .form-control {
    background-color: transparent;
    border: 0;
    font-size: rem(16px);
    line-height: rem(24px);
    padding: rem(6px 20px);
    height: rem(36px);
  }

  .btn {
    padding: rem(6px 14px);
    height: rem(36px);
    border-left: 1px solid #e8eaed;
  }

  .form-group {
    background: $white;
    box-shadow: 0 2px 4px rgba(83, 86, 92, 0.06);
    border-radius: 6px;
    color: $gray;
    padding: rem(12px) 0;
  }

  @media (#{$max_phones}) {
    .form-group {
      padding: 0;
    }

    .form-control {
      padding: 12px 20px;
      height: auto;
      text-align: center;
      font-size: 14px;
    }

    .btn {
      border-top: 1px solid #e8eaed;
      border-left: 0;
      padding: 14px 20px;
      height: auto;
      font-size: 14px;
    }
  }
}

.lead_info {
  background-color: $white;
  border-radius: 12px;
  padding: rem(24px);
  margin-top: rem(55px);
  margin-bottom: rem(55px);
  text-align: center;
  font-feature-settings: 'tnum';

  &__nodes {
    &:hover,
    &:active,
    &:focus {
      ._hint,
      ._value {
        color: #578fff !important;
      }
    }
  }

  &__counter,
  &__nodes,
  &__item {
    padding-top: rem(18px);
    padding-bottom: rem(18px);
  }

  &__counter {
    border-left: 1px solid #e8eaed;  
  }

  ._calendar {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(18px);
    cursor: pointer;
    text-decoration: none;
    margin: 0.786rem 0.625rem 0 0;
    color: #578fff;
  }

  ._hint {
    margin-bottom: 0;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(18px);
    color: $gray;
  }

  ._value {
    font-size: rem(21px);
    line-height: rem(28px);
    color: $gray-dark;
    font-weight: 500;
    margin: 0 0 rem(10px);
  }

  ._smalltext {
    font-size: rem(16px);
    font-weight: normal;
  }

  .col-auto {
    padding: rem(0 12px);
    min-width: 54px;
  }

  @media (#{$max_phones}) {
    padding-top: 0;
    padding-bottom: 0;

    &__counter {
      border-left: 0;
      border-top: 0;
    }
  }
}

.lead_links {
  .btn {
    margin-bottom: rem(15px);
  }
}

.section_tight {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
  border-radius: 6px;
  padding: 12px 20px 12px 24px;
  text-align: center;
  font-feature-settings: 'tnum';
  font-size: rem(16px);

  &__info {
    vertical-align: middle;
    padding: 0.125rem 0 !important;

    @media (#{$max_phones--big}) {
      margin-left: 0 !important;
    }
  }

  &__input {
    margin: -12px 0px -12px -24px;

    .input-group-text {
      border: none;
      background-color: white;
      margin-left: 1rem;
      padding: 0.375rem;
    }

    span {
      color: #96999e;
    }

    input {
      color: #96999e;
      height: 60px;
      padding-left: 0.5rem !important;
    }

    @media (#{$max_phones--big}) {
      margin: -12px 0px 0px -24px;
    }
  }

  .separated {
    border-left: 1px solid #e8eaed;

    @media (#{$max_phones--big}) {
      border-left: none;
      border-top: 1px solid #e8eaed;
    }
  }

  input {
    color: #96999e;
    width: 100%;
    padding-left: 1rem;
    border: 0;

    &::placeholder {
      color: #96999e;
      font-size: rem(16px);
    }
  }
}

.section_input {
  input {
    font-size: 1rem;
    margin-left: -0.25rem;
  }
}

.block_list {
  margin-bottom: rem(30px);

  + h4 {
    margin-top: rem(30px);
  }

  + h3 {
    margin-top: rem(65px);
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 40px;

    + h4 {
      margin-bottom: 20px;
    }

    ~ h3 {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
}

.block {
  margin-top: rem(12px);
  margin-bottom: rem(28px);
  padding: rem(48px 40px);
  background: $white;
  border-radius: 6px;
  width: 100%;

  &__title {
    margin-bottom: rem(30px);
    font-size: rem(21px);
    font-weight: 500;
    line-height: rem(28px);
    color: $gray-dark;

    .icon {
      margin-right: rem(6px);
      font-size: rem(32px);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }

  &__hint {
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(18px);
    color: $gray;
    white-space: pre-line;
  }

  &__action {
    margin-bottom: rem(22px);
  }

  .table {
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;
    margin-bottom: 0;

    a {
      color: #578fff;
      font-weight: 500;
    }

    th {
      font-size: rem(14px);
      font-weight: 500;
      line-height: rem(18px);
      color: $gray;
      padding: 0 rem(14px) rem(28px) 0;
      border: 0 !important;
      text-align: left;
    }

    td {
      padding: rem(15px) rem(14px) rem(15px) 0;
      border-top: 1px solid #e8eaed;
      border-bottom: 1px solid #e8eaed;
      vertical-align: middle;

      &:first-child {
        width: 60%;
        white-space: normal;
      }
    }
  }

  @media (#{$max_phones--big}) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 30px;
  }
}

.table_hint {
  margin-top: rem(3px);
  font-size: rem(14px);
  line-height: rem(18px);
  color: $gray;
  word-break: break-word;
}

.download_block {
  overflow: hidden;
  margin: rem(45px) 0;

  &__image {
    float: left;
    margin-right: rem(25px);
  }

  &__content {
    overflow: hidden;
  }

  &__title {
    font-size: rem(19px);
    line-height: rem(32px);
    font-weight: 500;
    color: $primary;

    .icon {
      font-size: rem(24px);
      display: inline-block;
      vertical-align: middle;
      margin: 0 rem(4px);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__desc {
    font-size: rem(16px);
    line-height: rem(28px);
    color: $gray;
  }

  a {
    text-decoration: none;
  }
}

.item-image {
  background-color: white;
  border-radius: 12px;
  padding: 0 12px 0 12px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;

  img {
    width: 100%;
  }

  @media (#{$max_phones--big}) {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.linkbar {
  border-radius: 12px;
  margin-top: rem(30px);  

  img{
    width: rem(40px);
    @media (#{$max_phones--big}) {
      width: rem(50px);
    }
  }



  .item {
    .content {
      cursor: default;
      text-align: center;
      filter: grayscale(100%) contrast(2);

      &:hover,
      &:active {
        img {
          opacity: 1 !important;
          filter: contrast(1);
        }
        filter: none;
        color: #578fff;
        background-color: white;
      }

      display: block;
      padding: 1rem 0;
      border-radius: 12px;
      a {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: inline;
      }

      .linkbar-value {
        color: #53565c;
        font-size: 0.875rem;
        padding-top: 0.875rem;
      }
    }
  }
  .container {
    height: 7.75rem;
    padding: 0;
  }
}


.section_magic{
    background-image: url(/static/images/fingerprint.svg), 
      radial-gradient(60% 100% at 100% 90%, #0F172A, #FFFFFF00),
      radial-gradient(60% 100% at 0% 90%, #0F172A, #FFFFFF00);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
  }

 
.face {
  background-image: radial-gradient(at 50% center, #FFFFFF00 55%, white 70%), url(/static/images/face.png);
  background-repeat: no-repeat;
  background-position: 51% 78%;
  width: 100%;
  height: 0px;
  padding-top: 40%;
  margin-top: -40px;
  margin-bottom: 0px;
  background-origin: padding-box;
  background-size: cover;
  transform: translateZ(0);
  will-change: transform, opacity;
  animation: FaceAnimation 3s 300s linear infinite alternate;

  @media (#{$max_phones--big}) {
    height: 62vh;
  }
  
}

@keyframes FaceAnimation{
  from {
    background-position-y: 78%;
    opacity: 1;
  }
  to {
    background-position-y: 80%;
    opacity: 0.75;
  }
}
  

.magic{
  &:after{
    content: "";
    background: url(/static/images/magic.svg);
    position: absolute;
    background-size: rem(40px);
    width: rem(40px);
    height: rem(40px);
    background-repeat: no-repeat;
  }  
}

.hand {
  background: url(/static/images/hand.png);
  background-size: 100%;
  background-origin: content-box;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;
  
  @media (#{$max_phones--big}) {
    background-size: 170vh;
    background-position-y: 20vh;
    background-attachment: scroll;
  }


  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(white, #FFFFFF00),
  }
  &:after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(#FFFFFF00, white),
  }

}



.scales {
  transform: scale(7) translateY(-20px);
  width: 160px;
  height: 70px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  bottom: 0;
  
  @media (max-width: 1145px) {
    transform: scale(6) translateY(-18px);
  }

  @media (#{$max_tablets}) {
    transform: scale(5) translateY(-18px);
  }

  @media (max-width: 840px) {
    transform: scale(4) translateY(-18px);
  }
  
  @media (#{$max_phones--big}) {
    transform: scale(2.8) translateY(-15px);
  }

  @media (max-width: 380px) {
    transform: scale(2.3) translateY(-15px);
  }
  
  &__base {
    position: absolute;
    width: 30%;
    height: 47px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;  
    bottom: -28px;
    background: linear-gradient(#1E2E45 0%, #3d4d6630 30%, #FFFFFF00 30%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;    
  }

  &__balance{
    transform: rotate3d(0, 0, 1, 8deg);
    height: 98px;
    transform: translateZ(0);
    will-change: transform;
    animation: ScalesAnimation 2s cubic-bezier(0.61, 0.07, 0.77, 0.99) infinite alternate;
    .item{
      position: absolute;
      top: 0;
      font-size: 50px;
      font-family: $font-family-header;
      font-weight: 600;
      letter-spacing: -2px;
      border-radius: 4px;
      color: #0f172a;
      background:
        radial-gradient(40% 40% at 20% 0%, #3D4D6590 0%, rgba(61, 77, 101, 0%) 100%), 
        radial-gradient(40% 40% at 80% 75%, #3D4D6590 0%, rgba(61, 77, 101, 0%) 100%), 
        #1e2e4580;
      line-height: 90%;
      padding: 0 3%;
    }
    .item1{
      right: 0;
      padding: 0 7px;
    }
    .item99{
      left: 0;
    }
    .line{
      position: absolute;
      height: 1.5px;
      left: 0;
      top: 47px;
      width: 100%;
      background-color: #1E2E45;
      opacity: 0.6;
    }
  }
}


@keyframes ScalesAnimation{
  from {
    transform: rotate3d(0, 0, 1, 8deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 11deg);
  }
}


.scales-item{
  font-family: $font-family-header;
  font-Weight: 600;
  border-radius: rem(20px);
  color: #0f172a;
  background:
    radial-gradient(40% 40% at 20% 0%, #3d4d6630 0%, rgba(61, 77, 101, 0%) 100%), 
    radial-gradient(40% 40% at 80% 75%, #3D4D6530 0%, rgba(61, 77, 101, 0%) 100%), 
    #1e2e4580;
  line-height: 90%;
  padding: 0 3%;
}



.ripple-red-col{
  @media (#{$max_phones--big}) {
    margin-top: 240px;
    margin-bottom: 50px;
  }

}

@property --rl{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.ripple-red{
  span{
    font-family: $font-family-header;
    color: #DB6CBC !important;
    font-size: rem(40px);
    line-height: rem(55px);
    font-weight: 500;
    @media (#{$max_phones--big}) {
      font-size: rem(55px);
      line-height: rem(55px);
      font-weight: 500;    
    }  
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;    

    @media (#{$max_phones--big}) {
      top: 34%;    
    }
  
    left: 50%;
    display: block;
    height: 350px;
    width: 350px;
    z-index: -1;
    --rl: 0%;
    transition: --rl 0.5s 0.1s;
    background: 
      radial-gradient(circle at 100% 40%, white 30%, #FFFFFF00 40%),   
      radial-gradient(circle at 0% 60%, white 30%, #FFFFFF00 40%),
      radial-gradient(closest-side, #FFFFFF00 0%,
        rgba(#DB6CBC, 0%   ) calc(0% + var(--rl)),
        rgba(#DB6CBC, calc(-10% + var(--rl))) calc(10% + var(--rl)),
        rgba(#DB6CBC, 0%   ) calc(20% + var(--rl)),
        rgba(#DB6CBC, 10%  ) calc(30% + var(--rl)),
        rgba(#DB6CBC, 0%   ) calc(40% + var(--rl)),
        rgba(#DB6CBC, calc(10% - var(--rl))) calc(50% + var(--rl)),
        rgba(#DB6CBC, 0%   ) calc(60% + var(--rl)),
        #FFFFFF00 100%);  
    transform: translate3d(-50%, -53%, 0);
    will-change: opacity;
    animation: RippleAnimation 7s linear infinite;
  }
}

.ripple-blue {
  span{
    font-family: $font-family-header;
    color: #6087EA !important;
    font-size: rem(55px);
    line-height: rem(55px);
    font-weight: 500;  
  }  
  &:before {
    content: "";
    position: absolute;
    top: 50%; 
    @media (#{$max_phones--big}) {
      top: 35%;    
    }
    left: 50%;
    display: block;
    height: 450px;
    width: 450px;
    z-index: -1;
    --rl: 0%;
    transition: --rl 0.5s 0.1s;
  
    background: 
      radial-gradient(circle at 100% 40%, white 30%, #FFFFFF00 40%),   
      radial-gradient(circle at 0% 60%, white 30%, #FFFFFF00 40%),
      radial-gradient(closest-side, #FFFFFF00 0%,
        rgba(#6087EA, 0%   ) calc(0% + var(--rl)),
        rgba(#6087EA, calc(-10% + var(--rl))) calc(10% + var(--rl)),
        rgba(#6087EA, 0%   ) calc(20% + var(--rl)),
        rgba(#6087EA, 10%  ) calc(30% + var(--rl)),
        rgba(#6087EA, 0%   ) calc(40% + var(--rl)),
        rgba(#6087EA, 10%  ) calc(50% + var(--rl)),
        rgba(#6087EA, 0%   ) calc(60% + var(--rl)),
        rgba(#6087EA, calc(10% - var(--rl))) calc(70% + var(--rl)),
        rgba(#6087EA, 0%   ) calc(80% + var(--rl)),
        #FFFFFF00 100%);  
      transform: translate3d(-50%, -53%, 0);
      will-change: opacity;
      animation: RippleAnimation 4s linear infinite;
  }
}

  @keyframes RippleAnimation{
    from {
    --rl: 0%;
    }
    to {
    --rl: 20%;
    }
  }



.index-price-info {
  margin-top: 1rem;
  text-align: center;
  font-feature-settings: 'tnum';

  @media (#{$max_phones--big}) {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .value {
    color: #53565c;
    font-size: 1.313rem;
    line-height: 1.2;
    font-weight: 500;

    .change {
      font-size: 1rem;
    }
  }

  .description {
    font-size: 0.875rem;
    line-height: 1rem;
    padding-top: 1rem;
    color: #96999e;
    @media (#{$max_phones--big}) {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  .h2 {
    @media (#{$max_phones--big}) {
      margin-bottom: 0 !important;
    }
  }

}


.description {
  color: #96999e;
  justify-content: space-evenly;
  display: flex;
}


.video-preview{
  margin-bottom: rem(50px);
  text-align: center;
  @media (#{$max_phones--big}) {
    margin-bottom: rem(100px);
  }

  img{
    width: 100%;
    height: rem(190px);
    border-radius: 20px;
    margin-bottom: rem(10px);
    object-fit: cover;
  }

  .video-preview-img{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      background-image: url(/static/images/play.svg);
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-position-y: 50%;
      background-position-x: 50%;
      opacity: 0.8;
    }
    &:hover{
      opacity: 0.9;
      &:before{
        opacity: 0.9;
      }
    }
  }


  p{
    margin-bottom: rem(5px);
  }
  h2{
    margin-top: rem(10px);
    @media (#{$max_phones--big}) {
      margin-top: 0;
      margin-bottom: 6px;
    }
  
  }
}


.index-partners-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}


.partners-info {
  display: flex;
  position: relative;
  align-items: center;
  margin-inline: 2%;
  margin-bottom: 25px;
  width: 50px;
  height: 50px;

  &.width {
    width: 210px;

    img {
      width: 210px;

      &.logo-color{
        display: none;
      }
      &.logo-gray {
        display: block;
        filter: contrast(2);
      }
    }
  }

  img {
    width: 80px;

    &.logo-color{
      display: none;
    }
    &.logo-gray {
      display: block;
      filter: contrast(2);
    }
  }

  a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: inline;
  }

  &:hover,
  &:active {

  img {
    &.logo-color {
      display: block !important;
    }

    &.logo-gray {
      display: none !important;
      filter: contrast(2);
    }
  }
  }

  @media (#{$max_tablets}) {
    flex: 1;
    min-width: 70px;
    min-height: 70px;
    max-width: 80px;
    padding: 7px;
    margin: 4px !important;

    img {
      width: 100% !important;

      &.logo-gray {
        width: 100%;
      }
    }

    &.width {
      width: 100% !important;

      &.logo-gray {
        width: 100%;
        filter: contrast(2);
      }
    }
  }
}

.toolTipPopper.logo {
  @media (#{$max_tablets}) {
    display: none;
  }
}

.dedicated_info {
  font-size: 1rem;
  line-height: 28px;
  margin: 2rem 0 1rem 0;
  padding: 13px 24px 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
  background-color: #ffffff;

  &.inactive {
    background-color: #eceeef;
  }

  .copy_element {
    position: absolute;
    right: 2rem;

    @media (#{$max_phones--big}) {
      right: 4.25rem;
    }
  }
}

.index-heading {
  padding-top: 250px;
  margin-bottom: 72px;
  max-width: 840px;
  height: 474px;
  border-radius: 12px;

  @media (#{$max_tablets}) {
    background-color: #f5f6f7;
    height: auto;
    padding: 1rem;
    margin-bottom: 0;
  }
}

button {
  border: none;
  padding: 8px 20px 8px 14px;
  border-radius: 6px;
  background-color: #578fff;
  font-size: 14px;
  color: #ffffff;
}

.video-responsive {
  margin: 1.5rem 0 1.5rem -1.25rem;
  border-radius: 8px;
  overflow: hidden;
}

.language-container {
  padding: rem(20px);

  .language-centered {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  @media (#{$max_phones--big}) {
    padding: rem(80px) 0;
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .language {
    margin-top: 0.75rem;
    line-height: 1.25rem;
    padding: 0 rem(20px);

    @media (#{$max_phones--big}) {
      width: 100%;
    }
  }

  .combobox-toggle {
    font-size: 1rem;
    font-weight: 500;
    color: #BCC1C7;
    &:hover{
      color: white;
    }
  }

  .show {
    img {
      transform: scaleY(-1);
    }
  }

  .dropdown {
    padding-top: 0.125rem;
  }

  .dropdown-menu {
    overflow-y: scroll;
    max-height: 496px;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
    background-color: #ffffff;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    margin-bottom: 8px !important;
    border: none;

    .dropdown-header {
      text-decoration: none;
      line-height: normal;
      color: #96999e;
      font-weight: 500;
      height: 36px;
      padding: 14px 0 0 16px;
    }
    .dropdown-item {
      text-decoration: none;
      color: #53565c;
      font-weight: 500;
      height: 44px;
      padding: 12px 16px 0 16px;
      border-bottom: 1px solid #e8eaed;

      &:hover,
      &:active,
      &:focus {
        color: #578fff !important;
        background-color: #ffffff;
      }
    }
  }

  .dropdown-menu::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.translate-link {
  cursor: pointer;
  color: #BCC1C7;

  &:hover{
    color: white;
  }

  span {
    font-size: 1rem;
    font-weight: 500;
  }

  img {
    margin-right: 0.5rem;
    margin-bottom: 0.125rem;
    @media (#{$max_tablets}) {
      margin: -4px 0.5rem 0.125rem 0;
    }
  }
}

.alert {
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.71;
  margin-top: 2rem;
  border-radius: 6px;

  &.error {
    color: #ff6666;
    background-color: #f6e3e4;
  }

  &.success {
    color: #27d980;
    background-color: #dcf2e7;
  }

  &.hide {
    display: none;
  }

  img {
    margin-right: 0.75rem;
  }
}

.loadingState {
  position: relative;
  height: 64px;

  img {
    position: absolute;
    margin: auto;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.landingpage {
  font-size: rem(19px);
  height: 100vh;
  padding: rem(20px);
  @media (#{$max_tablets}) {
    height: 100%;
  }

  .btn {
    font-size: rem(16px);
  }
  .logo {
    margin-bottom: rem(20px);
    img {  
      width: rem(116px); 
    }
  }
  .item-image {
    border: 1px solid #e8eaed;
    margin-bottom: 2rem;
    @media (#{$max_tablets}) {
      border: none;
    }

    img {
      width: rem(220px);
    }
  }

  .title {
    font-size: rem(40px);
    line-height: rem(40px);
    margin: 0 0 rem(10px);
    @media (#{$max_tablets}) {
      margin-bottom: rem(20px);
    }
  }
  .subtitle {
    font-size: rem(24px);
    margin: 0px;
  }
  .row > [class*=' col'] {
    padding: 0;
    margin: 0;

    @media (#{$max_tablets}) {
      margin: 0 1px;
    }
  }
  .row {
    margin: 0;
  }
  .section {
    display: table;
    margin: auto;
    height: 100%;
  }

  .centered {
    display: table-cell;
    vertical-align: middle;
  }
  .lead_info {
    padding: rem(20px) rem(80px);
    @media (#{$max_tablets}) {
      padding: rem(20px) rem(20px) rem(60px);
    }
  }
}

.info-two-col {
  display: flex;
  flex-wrap: wrap;

  @media (#{$max_phones--big}) {
    flex-direction: column;
  }

  .info-block {
    max-width: 50%;
    padding-inline: 20px;

    @media (#{$max_phones--big}) {
      max-width: 100%;
    }
  }
}

.page-area {
  border-radius: 12px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 80px;

  @media (#{$max_phones--big}) {
    text-align: left;
  }

  .range-track{
    height: 4px;
    width: 98%;
    margin-left: 1%;
    border-radius: 6px;
    margin-top: 10px;

    @media (#{$max_phones--big}) {
      margin-left: 2%;
      width: 96%;
      padding: 2px 0;
      border-bottom-width: 25px;
      border-bottom-color: #ffffff;
      border-bottom-style: solid;
      border-top: #ffffff;
      border-top-style: solid;
      border-top-width: 25px;      
    }
  }


  .illustrated-data {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;

    @media (#{$max_laptop--small}) {
      flex-direction: column;
    }

    .diagram-block {
      position: relative;
      display: flex;
      flex-direction: column;

      @media (#{$max_laptop--small}) {
        margin-right: 0;
      }

      .recharts-wrapper{
        @media (#{$max_laptop--small}) {
          margin-left: -2px;  
          margin-right: 0;  
        }
      }  
    }

    .blue-value{
      color: #6087EA !important;
      font-size: rem(50px);
      line-height: rem(50px);
      font-weight: 500;
    }

    .red-value{
      color: #DB6CBC !important;
      font-size: rem(50px);
      line-height: rem(50px);
      font-weight: 500;
    }

    .user-info-block {
      background-color: #f5f6f7;
      border-radius: 8px;
      height: fit-content;
      width: 100%;
      padding: 32px;

      @media (#{$max_phones--big}) {
        margin-top: 24px;
      }
    }
  }

  span {
    font-size: rem(14px);
  }

  input{
    height: 100%;
    text-align: left;
  }

  label, input {
    position: relative;
    display: block;
    font-size: 21px;
    font-weight: 500;
    padding-right: 50px;
    width: 180px;
    box-sizing: border-box;
    border: 0;
  }

  label::after {
    content: attr(data-idna);
    position: absolute;
    top: 1px;
    right: 0px;
    font-size: 21px;
    font-weight: 500;
    display: block;
    color: #53565c;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.stakingStat {
  border-radius: 12px;
  background-color: #fff;
  padding: 24px;
  margin-top: 8px;

  @media (#{$max_phones--big}) {
    padding: 0;
    padding-inline: 16px;
  }

  .stakingStatSection {
    display: flex;
    flex-direction: row;

    @media (#{$max_phones--big}) {
      flex-direction: column;
      justify-content: center;
    }

    .stakingStatBlock {
      display: flex;
      width: 25%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (#{$max_phones--big}) {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      &.divided {
        border-right: solid 1px #e8eaed;

        @media (#{$max_phones--big}) {
          border-right: none;
          border-bottom: solid 1px #e8eaed;
        }
      }
    }
  }
}

.microPie {
  width: rem(30px);
  height: rem(30px);
  margin-right: rem(3px);
  margin-top: rem(-2px);
}

.header52px {
  font-size: 52px!important;

  @media (#{$max_phones--big}) {
    font-size: 36px!important;
  }
}

.coming_soon:after {
  position: absolute;
  padding-left: 8px;
  content: 'Coming soon';
  margin-top: 1em;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  color: #27d980;
}