.hidden {
  display: none !important; }

.shrinked {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.section {
  padding: rem(38px) 0;
  position: relative;

  @media (#{$max_phones--big}) {
    padding: 15px 0;
  }
}

.section_lead {
  padding: rem(64px 0 58px);

  h2 {
    margin-top: rem(12px);
  }

  h1 {
    margin-bottom: rem(28px);
  }

  .nav {
    margin-left: rem(-15px);
    padding: rem(20px) 0;
  }

  .carousel-item {
    background-color: #F5F6F7;
  }

  &__header {
    .subtitle {
      font-size: rem(28px);
      line-height: rem(40px);
      font-weight: 500;
      margin-top: 0;
      display: inline-block;
      text-align: left;
    }
  }

  &__body {
    padding-top: rem(65px);
  }

  &__info {
    color: #8c8c8c;
    font-size: rem(18px);

    @media (#{$max_tablets}) {
      font-size: rem(14px);
    }
  }

  @media (#{$max_phones--big}) {
    padding: 40px 0;
    margin-bottom: 0;

    .logo {
      margin-bottom: 30px;
    }

    &__header {
      padding: 0;

      .subtitle {
        font-size: 19px;
        line-height: normal;
        min-height: 80px;
        text-align: center;
      }
    }

    &__body {
      padding-top: 0;
    }

    &__info {
      font-size: 14px;
      line-height: 16px;

      span {
        margin-bottom: 8px;
      }
    }
  }
}

.section_header {
  margin-bottom: rem(120px);
}

.section_content {
  &:not(.hidden) + .section_content {
    padding-top: 14px;
  }

  .h1 {
    margin-top: rem(75px);
    text-align: center;
  }

  .hint {
    color: $gray;
    margin-bottom: rem(125px);
  }

  @media (#{$max_phones--big}) {
    .h1 {
      margin-top: 20px;
    }

    .hint {
      margin-bottom: 60px;
    }
  }

  @media (#{$min_phones--big}) {
    .row + .row {
      margin-top: rem(65px);
    }
  }
}

.form_register {
  .row {
    margin: 0;

    > div {
      margin: 0;
      padding: 0;
    }
  }

  .form-control {
    background-color: transparent;
    border: 0;
    font-size: rem(16px);
    line-height: rem(24px);
    padding: rem(6px 20px);
    height: rem(36px);
  }

  .btn {
    padding: rem(6px 14px);
    height: rem(36px);
    border-left: 1px solid #E8EAED;
  }

  .form-group {
    background: $white;
    box-shadow: 0 2px 4px rgba(83, 86, 92, 0.06);
    border-radius: 6px;
    color: $gray;
    padding: rem(12px) 0;
  }

  @media (#{$max_phones}) {
    .form-group {
      padding: 0;
    }

    .form-control {
      padding: 12px 20px;
      height: auto;
      text-align: center;
      font-size: 14px;
    }

    .btn {
      border-top: 1px solid #E8EAED;
      border-left: 0;
      padding: 14px 20px;
      height: auto;
      font-size: 14px;
    }
  }
}

.lead_info {
  background-color: $white;
  border-radius: 12px;
  padding: rem(24px);
  margin-top: rem(55px);
  margin-bottom: rem(55px);
  text-align: center;
  font-feature-settings: "tnum";

  &__nodes {

    &:hover,
    &:active,
    &:focus {
      ._hint,
      ._value {
        color: #578FFF !important;
      }
    }
  }

  &__counter,
  &__nodes,
  &__item {
    padding-top: rem(18px);
    padding-bottom: rem(18px);
  }

  &__counter {
    border-left: 1px solid #E8EAED;
  }



  ._calendar {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(18px);
    cursor: pointer;
    text-decoration: none;
    margin: 0.786rem 0.625rem 0 0;
    color: #578FFF;
  }

  ._hint {
    margin-bottom: 0;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(18px);
    color: $gray;
  }

  ._value {
    font-size: rem(21px);
    line-height: rem(28px);
    color: $gray-dark;
    font-weight: 500;
    margin: 0 0 rem(10px);
  }

  ._smalltext {
    font-size: rem(16px);
    font-weight: normal;
  }

  .col-auto {
    padding: rem(0 12px);
    min-width: 54px;
  }

  @media (#{$max_phones}) {
    padding-top: 0;
    padding-bottom: 0;

    &__counter {
      border-left: 0;
      border-top: 1px solid #E8EAED;
    }
  }
}

.lead_links {
  .btn {
    margin-bottom: rem(15px);
  }
}

.block_list {
  margin-bottom: rem(30px);

  + h4 {
    margin-top: rem(30px);
  }

  + h3 {
    margin-top: rem(65px);
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 40px;

    + h4 {
      margin-bottom: 20px;
    }

    ~ h3 {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
}

.block {
  margin-top: rem(12px);
  margin-bottom: rem(28px);
  padding: rem(48px 40px);
  background: $white;
  border-radius: 6px;
  width: 100%;

  &__title {
    margin-bottom: rem(30px);
    font-size: rem(21px);
    font-weight: 500;
    line-height: rem(28px);
    color: $gray-dark;

    .icon {
      margin-right: rem(6px);
      font-size: rem(32px);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }

  &__hint {
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(18px);
    color: $gray;
    white-space: pre-line;
  }

  &__action {
    margin-bottom: rem(22px);
  }

  .table {
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;
    margin-bottom: 0;

    a {
      color: #578FFF;
      font-weight: 500;
    }

    th {
      font-size: rem(14px);
      font-weight: 500;
      line-height: rem(18px);
      color: $gray;
      padding: 0 rem(14px) rem(28px) 0;
      border: 0 !important;
      text-align: left;
    }

    td {
      padding: rem(15px) rem(14px) rem(15px) 0;
      border-top: 1px solid #E8EAED;
      border-bottom: 1px solid #E8EAED;
      vertical-align: middle;

      &:first-child {
        width: 60%;
        white-space: normal;
      }
    }
  }

  @media (#{$max_phones--big}) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 30px;
  }
}

.table_hint {
  margin-top: rem(3px);
  font-size: rem(14px);
  line-height: rem(18px);
  color: $gray;
  word-break: break-word;
}

.download_block {
  overflow: hidden;
  margin: rem(45px) 0;

  &__image {
    float: left;
    margin-right: rem(25px);
  }
  
  &__content {
    overflow: hidden;
  }

  &__title {
    font-size: rem(19px);
    line-height: rem(32px);
    font-weight: 500;
    color: $primary;

    .icon {
      font-size: rem(24px);
      display: inline-block;
      vertical-align: middle;
      margin: 0 rem(4px);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__desc {
    font-size: rem(16px);
    line-height: rem(28px);
    color: $gray;
  }

  a {
    text-decoration: none;
  }
}

.linkbar {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  height: 7.75rem;

  .linkbar-div {
    position: absolute;
    background-color: #ffffff; // #f5f6f7;
    left: 0;
    right: 0;
    top: 0;
    bottom: -30px;
    overflow-x: hide;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .item {
    white-space: nowrap;
    padding: 0.5rem;
    height: 6.75rem;
    width: 8.75rem;
    display: table-cell;
    font-size: 0.875rem;
    font-weight: 500;
    color: #96999e;

    .content {
      position: relative;
      cursor: default;
      text-align: center;
      filter: grayscale(100%);

      &:hover,
      &:active {
        filter: none;
        color: #578fff;
        background-color: #f5f6f7;
      }

      display: block;
      padding: 1rem 0;
      border-radius: 12px;
      a {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: inline;
      }

      .linkbar-value {
        color: #53565c;
        font-size: 0.875rem;
        padding-top: 0.875rem;
      }
    }
  }
  .container {
    height: 7.75rem;
    padding: 0;
  }
}

.index-price-info {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-feature-settings: "tnum";

  .value {
    color: #53565c;
    font-size: 1.313rem;
    line-height: 1.2;
    font-weight: 500;

    .change {
      font-size: 1rem;
    }
  }

  .description {
    font-size: 0.875rem;
    line-height: 1rem;
    padding-top: 1rem;
    color: #96999e;
  }

  @media (#{$max_phones}) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
