.social_list {
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
  margin-bottom: rem(30px);

  &__item {
    padding: rem(12px);
    text-decoration: none !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    color: $gray-dark;

    &:hover {
      color: $dark;
    }

    .icon {
      font-size: rem(24px);
      margin-right: 0;
    }
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    &__item {
      padding: rem(24px);
    }
  }
}